/* Start global */

* {
    font-family: 'Harmattan', sans-serif;
    /* transition: all 0.5s; */
}

.navbar-brand {
    font-size: xx-large;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (max-width: 1400px) {}


.sectionHeader {
    border-top: 4px solid black;
    border-bottom: 4px solid #cfe2ff;
}

.fqhBody, .aqidhBody {
    width: 100%;
}

.fqhHeader, .aqidhHeader, .nawawyHeader,.tagwidHeader {
    position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


/* .headerP {
    font-size: 3vw;

}

.headerH1 {
    font-size: 7vw;
} */

.scrollTop {
    transition: all .3s;
}
#notifyIcon{
    top: 50vh;
    right: 8px;
    border: 1px solid white;
    border-radius: 50%;
    width: 45px;
    height: 45px;

}
#notifyIcon .notfyAlarm{
    top: 8px;
    left: 8px;
    font-size: 30px;
}
#notifyIcon .notify{
    top: -5px;
    left: -20px;
    width :30px;
    
}



/* scroll to top button  */
.scrollTop{
    right: 20px;
    bottom: -70px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 50%;
    border: none;
}


/* scroll to top button  */
/* END global */


.homeHeader {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/bgHome2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#particles-js {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    height: 100vh;
}

.navbar {
    font-size: x-large;
}



/* fqh page */

.fqhHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/fqhBG.jpeg');

}

/* fqh page */


/* aqidh page */
.aqidhHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/lcwaikiki-20-768x512\ \(1\).jpg');

}

/* aqidh page */


/* nawawy page */
.nawawyHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/nawawyBg.jpg');

}

/* nawawy page */

/* tagwid page */
.tagwidHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../pic/bgTagwid.jpg');

}

/* tagwid page */